@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Open+Sans:wght@300&family=Ubuntu:wght@700&display=swap');
body{
    height: fit-content;
    width: fit-content;
}
header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))  ,              
    url("https://assets.nflxext.com/ffe/siteui/vlv3/39f3c979-c105-4948-9c51-611eedf3a6fd/71ec72f0-c17a-4100-a2a3-a52e7b8ac733/IN-en-20230612-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}
nav{
    display: flex;
}
.logo{
    margin-left: 50px;
    margin-top: 20px;
}
.favorite{
    position: relative;
    top: 0px; left: 1000px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    align-items: center;
    margin: 10px;
    background-color: transparent;
    border-color: #fff;

}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    align-items: center;
    margin: 10px;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.paragraph1{
    display: flex;
    color:white;
    font-size: 50px;
    justify-content: center;
    margin-top: 150px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    list-style:none;
}

.paragraph2{
    display: flex;
    color:white;
    margin-top: 20px;
    margin-left: 80px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    list-style:none;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
}
.paragraph3{
    display: flex   ;
    color:white;
    margin-top: 15px;
    margin-left: 90px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    list-style:none;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
}
input,
label {
    margin: 0.4rem 0;
}
.search{
    margin-left: 80px;
}
.search button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 0px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    align-items: center;
    margin: 10px;

}
.b{
    border-radius: 5px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background: transparent;
    background-image: linear-gradient(rgba(14, 14, 23, 0.5),rgba(14, 14, 23, 0.5));
    text-decoration-color: 1px 1px 1px #faf6f6;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom{

    background-color: #000;
    height: 60vh;
    width:100%;
    background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png");
    background-repeat: no-repeat;
    background-position: 800px;
    background-size:contain;

}
.bottom li{

    color: #faf6f6;
    list-style: none;
    margin-left: 250px;
    font-size: 50px;
    margin-top: 100px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;    
}
.bottom1{
    display: flex;
    height: fit-content;
    width: fit-content;
}
.bottom1 p{
    color: #fffefe;
    list-style: none;
    margin-left: 250px;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
    flex-wrap: wrap;
    flex-basis: 35%;
}
.d{
    display: flex;
}
.e{
    display: flex;
}
.f{
    display: flex;
}
.bottom4{
    background-color: #000;
    height: 60vh;
    width:100%;
    background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg");
    background-repeat: no-repeat;
    background-position: 200px;
    background-size:contain; 
}
.bottom4 li{
    color: #faf6f6;
    list-style: none;
    margin-left: 800px;
    font-size: 50px;
    margin-top: 100px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
}
.bottom5 li{
    color: #faf6f6;
    list-style: none;
    margin-left: 800px;
    font-size: 50px;
    margin-top: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
.bottom6{
    display: flex;
    height: fit-content;
    width: fit-content;
}
.bottom6 p{
    color: #fffefe;
    list-style: none;
    flex-wrap: wrap;
    flex-basis: 30%;
    margin-left: 800px;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
.bottom8{
    background-color: #000;
    background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png");
    background-repeat: no-repeat;
    background-position: 800px ;
    background-size:contain;
    padding:50px 15%;
    font-size: 22px;
    display: block;
    width:100%;
    margin:0px;

}
.bottom8 h1{
    display: flex;
    color: #fffefe;
    font-size: 50px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;

}
.bottom9{
    display: flex;
    height:fit-content ;
    width: fit-content;
}
.bottom9 p{
    width:100%;
    flex-wrap: wrap;
    color: #fffefe;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
    flex-basis: 60%;
    margin-bottom: 20px;
    font-size: 22px;

}
.bottom10 li{
    color: #fffefe;
    list-style: none;
    margin-left: 250px;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
}
.g{
    display: flex;
}
.bottom11{
    background-color: #000;
    height: 60vh;
    width:100%;
    background-image: url("https://occ-0-2152-3647.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVr8nYuAg0xDpXDv0VI9HUoH7r2aGp4TKRCsKNQrMwxzTtr-NlwOHeS8bCI2oeZddmu3nMYr3j9MjYhHyjBASb1FaOGYZNYvPBCL.png?r=54d");
    background-repeat: no-repeat;
    background-position: 230px ;
    background-size:contain;

}
.bottom11 li{
    color: #faf6f6;
    list-style: none;
    margin-left: 800px;
    font-size: 50px;
    margin-top: 100px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 

}
.bottom12 li{
    color: #faf6f6;
    list-style: none;
    margin-left: 800px;
    font-size: 50px;
    margin-top: 10px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
}
.bottom13{
    display: flex;
    height: fit-content;
    width: fit-content;
}
.bottom13 li{
    flex-wrap: wrap;
    flex-basis: 30%;
    color: #fffefe;
    list-style: none;
    margin-left: 800px;
    font-size: 20px;
    margin-top:10px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;

}
.h{
    display: flex;
}
.bottom16{
    color: #fffefe;
    list-style: none;
    background-color: #000;
    height: fit-content;
    width:100%;
    justify-content: center;
}
.bottom16 li{
    font-size: 80px;
    margin-top: 30px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-left: 250px;
}
.faqbutton{
    display: flex;
    margin-top: 10px;
    margin-left:120px ;
    padding-left: 15px;

}
.faqbutton button{
    border: 0;
    line-height: 2;
    width: 1000px   ;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.faqbutton button:hover {
    background-color: rgb(105, 101, 101);
}
.faqbutton1{
    display: flex;
    margin-top: 10px;
    margin-left:120px ;
    padding-left: 15px;

}
.faqbutton1{
    display: flex;
    margin-top: 5px;
    margin-left:120px ;
    padding-left: 15px;
}
.faqbutton1 button{
    display: flex;
    border: 0;
    line-height: 2;
    width: 1000px   ;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.faqbutton1 button:hover{
    background-color: rgb(105, 101, 101);
}
.faqbutton2{
    display: flex;
    margin-top: 5px;
    margin-left:120px ;
    padding-left: 15px;
}
.faqbutton2 button{
    display: flex;
    border: 0;
    line-height: 2;
    width: 1000px   ;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;

}
.faqbutton2 button:hover{
    background-color: rgb(105, 101, 101);
}
.faqbutton3{
    display: flex;
    margin-top: 5px;
    margin-left:120px ;
    padding-left: 15px;
}
.faqbutton3 button{
    display: flex;
    border: 0;
    line-height: 2;
    width: 1000px   ;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.faqbutton3 button:hover{
    background-color: rgb(105, 101, 101);
}
.faqbutton4{
    display: flex;
    margin-top: 5px;
    margin-left:120px ;
    padding-left: 15px;
}
.faqbutton4 button{
    display: flex;
    border: 0;
    line-height: 2;
    width: 1000px   ;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;

}
.faqbutton4 button:hover{
        background-color: rgb(105, 101, 101);
}
.faqbutton5{
    display: flex;
    margin-top: 5px;
    margin-left:120px ;
    padding-left: 15px;
}
.faqbutton5 button{
    display: flex;
    border: 0;
    line-height: 2;
    width: 1000px   ;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.faqbutton5 button:hover{
    background-color: rgb(105, 101, 101);
}
.bottom17{
    display: flex;
    color: #fffefe;
    list-style: none;
    background-color: #000;
    height: fit-content;
    width:100%;
    align-items: center;
    justify-content: center;
}
.bottom17 li{
    align-items: center;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-left: 0px;
}
.search1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search1 button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 0px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    align-items: center;
    margin: 10px;

}
footer{
    background-color: #000;
    height: fit-content;
}
.footer1{
    display: inline-block;
}
.footer2{
    display: flex;
    margin-left: 250px;
    margin-top: 20px;
}
.footer1 li{
    margin-top: 30px;
    display: flex;
    color: #fffefe;
    list-style: none;
    font-size: larger;
    margin-left: 250px;
}
footer .footer1 a{
    display: flex;
    color: #fffefe;
    margin-left: 10px;
    margin-top: 0px;
}
footer .footer2 a {
    display: flex;
    color: #fffefe;
    margin-left: 0px;
    margin-top: 10px;
}
footer .footer3 a {
    color: #fffefe;
    margin-left: 420px;
    margin-top: 10px;
}
footer .footer4 a {
    color: #fffefe;
    margin-left: 420px;
    margin-top: 10px;
}
.footer5{
    display: flex;
    margin-left: 250px;
    margin-top: 20px;
}
footer .footer5 a {
    color: #fffefe;
    margin-left: 0px;
    margin-top: 0px;
}
footer .footer6 a {
    color: #fffefe;
    margin-left: 360px;
    margin-top: 0px;
}
footer .footer7 a {
    color: #fffefe;
    margin-left: 385px;
    margin-top: 0px;
}
.footer8{
    display: flex;
    margin-left: 250px;
    margin-top: 20px;
}
footer .footer8 a{
    color: #fffefe;
    margin-left: 0px;
    margin-top: 0px;
}
footer .footer9 a{
    color: #fffefe;
    margin-left: 350px;
    margin-top: 0px;
}
footer .footer10 a{
    color: #fffefe;
    margin-left: 420px;
    margin-top: 0px;
}
.footer11{
    display: flex;
    margin-left: 250px;
    margin-top: 20px;
}
footer .footer11 a{
    color: #fffefe;
    margin-left: 0px;
    margin-top: 0px;
}
footer .footer12 a{
    color: #fffefe;
    margin-left: 320px;
    margin-top: 0px;
}
footer .footer13 a{
    color: #fffefe;
    margin-left: 380px;
    margin-top: 0px;
}
.footer14{
    display: flex;
    margin-left: 250px;
    margin-top: 20px;
}
footer .footer14 a{
    color: #fffefe;
    margin-left: 0px;
    margin-top: 0px;
}
footer .footer15 a{
    color: #fffefe;
    margin-left: 375px;
    margin-top: 0px;
}
footer .footer16 a{
    color: #fffefe;
    margin-left: 415px;
    margin-top: 0px;
}
.favorite1{
    display: flex;
    position: relative;
    top: 30px; left: 240px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    align-items: center;
    margin: 10px;
    background-color: transparent;
    border-color: #fff;
}
.lastline{
    display: flex;
    margin-left: 250px;
    color: #fffefe;
    margin-top: 40px;
    font-size: smaller;
}