@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Open+Sans:wght@300&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Fasthand&family=Open+Sans:wght@300&family=Ubuntu:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
body{
    height: fit-content;
    width: 100%;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    min-height: fit-content;
    width: 100%;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
nav{
    display: flex;
    margin: 0px;
}
.logo a{
    animation: glow 1000ms infinite alternate;
    color: #faf6f6;
    font-size: larger;
    font-weight: bolder;
}
@keyframes glow{
    from { text-shadow:  0 0 10px #faf6f6,
    }
    }

.navbar{
    display: flex;
    margin: 0px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.navbar a{
    color: #faf6f6;
    margin: 10px;
}

.favorite{
    position: relative;
    top: 0px; left: 1000px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    align-items: center;
    margin: 10px;
    background-color: transparent;
    border-color: #fff;

}
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    align-items: center;
    margin: 10px;
}
.c{
    align-items: center;
    justify-content: center;
    margin: 10vh; 
    margin-top: 40vh;
    margin-bottom: 40vh; 
}   
.z{
    display: flex;
    align-items: center;
    justify-content: center;
}
.z img{
    border-radius: 50%;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.paragraph1{
    display: flex;
    color: #faf6f6;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    list-style:none;
}

.paragraph2{
    display: flex;
    color: #faf6f6;
    align-items: center;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    list-style:none;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
}
.paragraph3{
    display: flex   ;
    color: #faf6f6;
    align-items: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    list-style:none;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
}
.paragraph4{
    display: flex   ;
    color: #faf6f6;
    align-items: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    list-style:none;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
input,
label {
    margin: 0.4rem 0;
    
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.search button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(248, 247, 247, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    align-items: center;
    margin: 10px;

}
.b{
    border-radius: 5px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    background: transparent;
    background-image: linear-gradient(rgba(56, 56, 60, 0.5),rgba(56, 56, 60, 0.5));
    text-decoration-color: 1px 1px 1px #faf6f6;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom{
    background-color: #000;
    height: 30vh;
    width:100%;
    margin-left: 0px;
    background-image: url("https://www.nulite-lighting.com/images/media/linkedin.jpg");
    background-repeat: no-repeat;
    background-position: 00px;
    background-size: contain;

}
.bottom li{
    color: #faf6f6;
    list-style: none;
    margin-left: 800px;
    font-size: 50px;
    margin-top: 30px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;    
}
.bottom1{
    height: fit-content;
    width: fit-content;
    
}
.bottom1 p{
    color: #fffefe;
    list-style: none;
    margin-left: 800px;
    font-size: 20px;
    margin-top: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
    inline-size: 30%;
    overflow-wrap: break-word;
}
.linkedin{
    margin-top: 20px;
}
.linkedin a{
        color: aquamarine;
        list-style: none;
        margin-left: 800px;
        font-size: 20px;
        font-family: 'Alkatra', cursive;
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder; 
        flex-wrap: wrap;
        flex-basis: 35%;
}
main{
    height: fit-content;
    width: 100%;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
}
.d{
    height: fit-content;
    display: table;
    margin: 0 auto;
    vertical-align: middle;
    margin-bottom: 20px;
}

.e{
    height: fit-content;
    display: table;
    margin: 0 auto;
    vertical-align: middle;
}
.f{
    height: fit-content;
    display: table;
    margin: 0 auto;
    vertical-align: middle;
}
.bottom4{
    background-color: #000;
    height: 30vh;
    width:100%;
    background-image: url("https://th.bing.com/th/id/OIP.FjT59XtwzBW9fN-jayodIgAAAA?pid=ImgDet&rs=1");
    background-repeat: no-repeat;
    background-position: 00px;
    background-size:contain; 
}
.bottom4 li{
    color: #faf6f6;
    list-style: none;
    margin-left: 800px;
    font-size: 50px;
    margin-top: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
}
.bottom5{
        height: fit-content;
        width: fit-content;
}
.bottom5 li{
    color: #faf6f6;
    list-style: none;
    margin-left: 800px;
    font-size: 50px;
    margin-top: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
.bottom6{
    height: fit-content;
    width: fit-content;
}
.bottom6 p{
    color: #fffefe;
    list-style: none;
    inline-size: 30%;
    overflow-wrap: break-word;
    margin-left: 800px;
    font-size: 20px;
    margin-top: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}
.instagram{
    margin-top: 20px;
}
.instagram a{
    color: aquamarine;
    list-style: none;
    margin-left: 800px;
    font-size: 20px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
    flex-wrap: wrap;
    flex-basis: 35%;
}
.bottom8{
    background-color: #000;
    height: 30vh;
    width:100%;
    margin-left: 0px;
    background-image: url("https://th.bing.com/th/id/OIP.ceKHGBoNrIqN_V9F3TB5IAAAAA?pid=ImgDet&rs=1");
    background-repeat: no-repeat;
    background-position: 00px;
    background-size: contain;

}
.bottom8 li{
    color: #faf6f6;
    list-style: none;
    margin-left: 800px;
    font-size: 50px;
    margin-top: 30px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
}
.bottom9{   
    height:fit-content ;
    width: fit-content;
}
.bottom9 p{
    color: #fffefe;
    list-style: none;
    margin-left: 800px;
    font-size: 20px;
    margin-top: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
    inline-size: 30%;
    overflow-wrap: break-word;
}
.github{
    margin-top: 20px;
}
.github a{
    color: aquamarine;
    list-style: none;
    margin-left: 800px;
    font-size: 20px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
    flex-wrap: wrap;
    flex-basis: 35%;
    }
.bottom10 li{
    color: #fffefe;
    list-style: none;
    margin-left: 250px;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
}
.g{
    height: fit-content;
    display: table;
    margin: 0 auto;
    vertical-align: middle;
}
.bottom11{
    background-color: #000;
    height: 30vh;
    width:100%;
    margin-left: 0px;
    background-image: url("https://th.bing.com/th/id/R.3703e719c6463e2d5457f8b2ada90f66?rik=QFZl1g%2b7w1FrDA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-stcHWkuqvYc%2fT3cWQ5XxEJI%2fAAAAAAAAAF0%2fP5TnUJjtKO8%2fs1600%2ffacebook_logo_black.jpg&ehk=5ZoYmLXCg7Vd93p6KZuxsPlaY1b%2beW4zUf4BXxV%2bAFs%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-position: 00px;
    background-size: contain;
}
.bottom11 h1{
    color: #faf6f6;
    list-style: none;
    margin-left: 800px;
    font-size: 50px;
    margin-top: 30px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 

}
.bottom13 p{
    color: #fffefe;
    list-style: none;
    margin-left: 800px;
    font-size: 20px;
    margin-top: 0px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
    inline-size: 30%;
    overflow-wrap: break-word;

}
.facebook{
    margin-top: 20px;
}
.facebook a{
    color: aquamarine;
    list-style: none;
    margin-left: 800px;
    font-size: 20px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder; 
    flex-wrap: wrap;
    flex-basis: 35%;
    }
.h{
    height: fit-content;
    display: table;
    margin: 0 auto;
    vertical-align: middle;

}
.bottom16{
    color: #fffefe;
    list-style: none;
    background-color: #000;
    height: fit-content;
    width:100%;
    
  
}
.bottom16 li{
    font-size: 80px;
    margin-top: 30px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-left: 10px;
}
.faqbutton{
    display: flex;
    margin-top: 10px;
    margin-left:s0px ;
    padding-left: 15px;

}
.left{
    border-left: 5px solid white;
}
.faqbutton button{
    border: 0;
    line-height: 2;
    width: 1000px   ;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.faqbutton button:hover {
    background-color: rgb(105, 101, 101);
}
.faqbutton1{
    display: flex;
    margin-left:0px ;
    padding-left: 15px;
    padding-right: 15px;

}
.faqbutton1 button{
    display: flex;
    border: 0;
    line-height: 2;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.faqbutton1 button:hover{
    background-color: rgb(105, 101, 101);
}
.faqbutton2{
    display: flex;
    margin-top: 5px;
    margin-left:0px ;
    padding-left: 15px;
    padding-right: 15px;
}
.faqbutton2 button{
    display: flex;
    border: 0;
    line-height: 2;
    width: 100%  ;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;

}
.faqbutton2 button:hover{
    background-color: rgb(105, 101, 101);
}
.faqbutton3{
    display: flex;
    margin-top: 5px;
    margin-left:0px ;
    padding-left: 15px;
    padding-right: 15px;
}
.faqbutton3 button{
    display: flex;
    border: 0;
    line-height: 2;
    width: 100%  ;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.faqbutton3 button:hover{
    background-color: rgb(105, 101, 101);
}
.down{
    border-left: 5px solid white;
}
.faqbutton4{
    display: flex;
    margin-top: 5px;
    margin-left:0px ;
    padding-left: 15px;
    padding-right: 15px;
}
.faqbutton4 button{
    display: flex;
    border: 0;
    line-height: 2;
    width: 100%   ;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;

}
.faqbutton4 button:hover{
        background-color: rgb(105, 101, 101);
}
.faqbutton5{
    display: flex;
    margin-top: 5px;
    margin-left:0px ;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.faqbutton5 button{
    display: flex;
    border: 0;
    line-height: 2;
    width: 100%   ;
    font-size: 1rem;
    color: #fff;
    border-radius: 0px;
    background-color: rgb(58, 57, 57);
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 30px;
}
.faqbutton5 a{
    color: white;
}
.faqbutton5 button:hover{
    background-color: rgb(105, 101, 101);
}
.bottom17{
    display: flex;
    color: #fffefe;
    list-style: none;
    background-color: #000;
    height: fit-content;
    width:100%;
    align-items: center;
    justify-content: center;
}
.bottom17 li{
    align-items: center;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-left: 0px;
}
.search1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search1 button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    font-family: 'Alkatra', cursive;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    align-items: center;
    margin: 10px;

}
footer{
    background-color: #000;
    height: fit-content;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
    color: #faf6f6;
}
.contact h2 {
    margin-bottom: 3rem;
}
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
}
.heading {
    text-align: center;
}
.heading h2{
    color: #faf6f6;
}
.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-column {
    flex: 1 1 40rem;
}
.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.title{
    color: #faf6f6;
}
.education-column .education-box {
    border-left: .2rem solid white;
}
.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}
.education-content .content h3{
    color: #faf6f6;
}
.education-content .content p{
    color: #faf6f6;
}
.contact form {
    max-width: 100%;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display: grid;
    grid-template-areas: "a a";
    gap: 10px;
}
.contact form .input-box input, .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: rgb(66, 64, 64);
    border-radius: 0.8rem;
    margin: .7rem 0;
}

